body {
    margin: 0;
    background-image: url('/static/img/nase-background.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
  }